@import 'vars';

#app {
	max-width: 800px;
	margin: 0 auto;
	@include robot();
}

.cal-select {
	text-align: center;
}

.add-btn {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
}

.user-card {
	margin: 10px auto;
}
